<!--The content below is only a placeholder and can be replaced.-->
<div class="contracts-container">
  <div *ngFor="let contract of contracts" class="contracts-card">
    <h2 class="contract-title">Contratto di locazione</h2>
    <div class="contract-detail-item">
        <h3 class="sub-title">Conduttore  </h3> <p>{{ contract.disambiguation.Conduttore }}</p>
    </div>
    <div class="contract-detail-item">
        <h3 class="sub-title">Locatore   </h3> <p>{{ contract.disambiguation.Locatore }}</p>
    </div>
    <hr>
    <div class="contract-detail-item">
        <p class="grey-location">{{ contract.disambiguation.consegna }}</p>
    </div>
    <div class="contract-detail-item">
        <h3 class="sub-title">Decorrenza  </h3>
        <p>{{ contract.disambiguation.decorrenza }}</p>
    </div>
    <hr>
    <div class="green-bool contract-detail-item">
        <p>{{ contract.disambiguation.Sbloccaitalia }}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
